---
import Glow from "../atoms/Glow.astro";
import ImageBackground from "../atoms/ImageBackground.astro";

interface Props {
  title: string;
  subtitle?: string;
  icon?: string;
  backgroundImage?: string;
  bgColor?: string;
}

const {
  title,
  subtitle,
  icon,
  backgroundImage = "pattern-ondulado.svg",
  bgColor = "bg-brand-primary"
} = Astro.props;

const BASE = import.meta.env.BASE_URL;
---

<!-- --------------- HERO SMALL  --------------- -->
<section
  class="relative flex flex-col px-0 py-0 isolate xl:py-6 bg-brand-bg 2xl:px-14"
>
  <div
    class={`relative flex flex-col items-center justify-center min-h-[40vh] pb-20 pt-36 overflow-hidden text-white ${bgColor} rounded-3xl`}
  >
    <Glow
      class="top-0 w-full max-w-4xl -translate-x-1/2 left-3/3 h-100 bg-brand-dark opacity-10 -z-10"
    />
    <ImageBackground
      src={BASE + "imgs/" + backgroundImage}
      class="inset-0 w-full h-full"
    />
    <m-container class="z-10">
      <m-row class="z-10 flex-col items-center text-center">
        <m-col class="items-center max-w-3xl space-y-4">
          {icon && <img src={`${BASE}imgs/iconos/${icon}`} alt={title} class="size-16" />}
          <h1
            class="text-4xl sm:text-5xl md:text-7xl font-display leading-[1.1] tracking-tight"
          >
            {title}
          </h1>
          {
            subtitle && (
              <h2 class="max-w-sm mx-auto text-lg font-normal leading-tight md:text-xl text-white/80 font-display leading">
                {subtitle}
              </h2>
            )
          }
        </m-col>
      </m-row>
    </m-container>
  </div>
</section>
